.crear-tarifa {
    margin: 2% 30%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 28px 48px;
}

.formulario-tarifa {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.double-input {
    display: flex;
    gap: 1rem; /* Espacio entre ambos */
    width: 100%;
}

.text-field{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 18px 0;
}

.select-field{
    border-radius: 8px;
    height: 24px;
}

.result {
    display: flex;
    justify-content: space-between;
}